PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=K6caNzl6Cvhb1R_0QjiKYfCn2aHT8qsJ
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB_NAME=gti524_lab_eq01
API_TOKEN=b69d5935-5e8c-4d41-a72a-0e3201227928
