body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ItemMenu button:hover {
  color: yellow;
}

.ItemMenu button.selected {
  color: red;
}

.ItemMenu ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.ItemMenu li {
  margin-bottom: 8px;
}

.ItemMenu ul button {
  width: 90%;
  padding: 8px;
}

header {
  overflow: hidden;
  margin: auto;
  width: 70%;
  height: 100px;
  border: 3px solid green;
  padding: 10px;
}

header img {
  width: 20%;
  float: left;
  max-width: 100%;
  max-height: 100%;
  border: 3px solid green;
}

header h1 {
  width: 70%;
  float: right;
  border: 3px solid green;
}

footer {
  overflow: hidden;
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  border: 3px solid green;
}

.MainSection {
  overflow: hidden;
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}

.MainSection .clickable {
  cursor: pointer;
}

.ItemMenu {
  width: 20%;
  float: left;
  max-width: 100%;
  max-height: 100%;
  border: 3px solid green;
}

.CompteurTable,
.FontaineTable {
  width: 70%;
  max-width: 100%;
  max-height: 100%;
  float: right;
  border: 3px solid green;
  padding: 20px;
}

.CompteurTable table,
.FontaineTable table {
  display: block;
  border-collapse: collapse;
  width: 100%;
}

.CompteurTable table,
.FontaineTable table {
  height: 415px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.MainSection table .left {
  text-align: left;
}

.MainSection table .center {
  text-align: center;
}

.MainSection table .right {
  text-align: right;
}

.MainSection h2 {
  text-decoration: underline;
}

.MainSection table tr:first-child td {
  border-top: 2px solid gray;
}

.MainSection table tr:last-child td {
  border-bottom: 2px solid gray;
}

.SortingBox ul {
  list-style-type: none;
  margin-top: 0;
  margin-left: 8px;
  padding: 2px 8px;
  border: 1px dashed grey;
}

td {
  white-space: nowrap;
}

.d-flex {
  display: flex;
}

.ml-auto {
  margin-left: auto
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  position: relative;
  background-color: #fff;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1001;
}

.MapContainer {
  z-index: 1000;
}