body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  overflow: hidden;
  margin: auto;
  width: 70%;
  height: 100px;
  border: 3px solid green;
  padding: 10px;
}

header img {
  width: 20%;
  float: left;
  max-width: 100%;
  max-height: 100%;
  border: 3px solid green;
}

header h1 {
  width: 70%;
  float: right;
  border: 3px solid green;
}

footer {
  overflow: hidden;
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  border: 3px solid green;
}

.MainSection {
  overflow: hidden;
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}

.ItemMenu {
  width: 20%;
  float: left;
  max-width: 100%;
  max-height: 100%;
  border: 3px solid green;
}

.CompteurTable {
  width: 70%;
  max-width: 100%;
  max-height: 100%;
  float: right;
  border: 3px solid green;
  padding: 20px;
}

.MainSection table {
  border-collapse: collapse;
  width: 100%;
}

.MainSection table .left {
  text-align: left;
}

.MainSection table .center {
  text-align: center;
}

.MainSection table .right {
  text-align: right;
}

.MainSection .clickable {
  cursor: pointer;
}

.MainSection table tr:first-child td {
  border-top: 2px solid gray;
}

.MainSection table tr:last-child td {
  border-bottom: 2px solid gray;
}

.SortingBox ul {
  list-style-type: none;
  margin-top: 0;
  margin-left: 8px;
  padding: 2px 8px;
  border: 1px dashed grey;
}

.d-flex {
  display: flex;
}

.ml-auto {
  margin-left: auto
}